*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    min-height: 100dvh;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 80%;

    position: relative;
}

header {
    font-family: 'Oswald', sans-serif;
    background-color: #2E323F;
    font-weight: 700;
    padding: 1em 0;
    text-align: center;
}

.logo {
    height: 30px;
}

.nav {
    width: 100%;
    visibility: hidden;
    height: 0;
    position: absolute;
    font-size: 1rem;
    text-align: center;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0;
    border-radius: 50%;
    background: #6F737F;
    color: white;
    transition: opacity 250ms ease;

    position: absolute;
    left: 0;
}

.nav-toggle:focus, 
.nav-toggle:hover,
.nav__link:focus,
.nav__link:hover,
.btn:focus, .btn:hover {
    opacity: .75;
}

.hamburguer {
    width: 50%;
    position: relative;
}

.hamburguer, 
.hamburguer::before,
.hamburguer::after {
    display: block;
    background-color: #fff;
    margin: 0 auto;
    height: 3px;
}

.hamburguer::after,
.hamburguer::before {
    content: '';
    width: 100%;
}

.hamburguer::before {
    transform: translateY(-6px);
}

.hamburguer::after {
    transform: translateY(3px);
}


.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.nav__list--primary {
    margin-bottom: 2em;
}

.nav__item {
    margin-top: .75em;
}

.nav__link {
    text-decoration: none;
    color: #FFF;
}

.nav__link--btn {
    background: #A59678;
    padding: .25em .75em;
    border-radius: 100px;
}

.hero {
    background-color: #3B4050;
    font-size: 1.5rem;
    color: #FFF;
    padding: 70px 0 100px;
}

h1 {
   font-family: 'Oswald', sans-serif; 
   font-weight: 700;
   font-size: clamp(3rem, 2rem + 6vw, 4rem);
   margin-top: 0;
   line-height: 1;
}

.hero__title {
    margin-top: 2em;
}

.hero p {
    margin: 2em 0;
}

.emphasis {
    color: #A59678;
}

.btn {
    background-color: #A59678;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 100px;
    padding: .75em 2em;
    display: inline-block;
}

.three-column {
    background-color: #f1f1f1;
    font-size: 1.125rem;
    padding: 3em 0;
    text-align: center;
}

.col {
    margin-bottom: .75em;
}

.section__title {
    font-family: 'Oswald', sans-serif;
    font-size: 1.875rem;
    color: #A59678;
    margin-bottom: 1em;
}

.main {
    margin-top: 3em;
    padding: 3em 0;
}

.main__title {
    color: #A59678;
    font-size: 2.25rem;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1em;
}

.main__img {
    margin: 3em 0 2em 0;
}

.sidebar {
    margin-top: 2em;
}

.sidebar__text {
    color: #FFF;
    background-color: #3B4050;
    padding: 1.2em 1.6em;
    margin-bottom: .75em;
    text-align: center;
    height: auto;
}

.sidebar__title {
    margin-bottom: 1em;
}

.footer {
    background-color: #3B4050;
    color: #FFF;
    padding: 5em 0;
}

.footer__title {
    text-align: center;
    font-size: clamp(3rem, 2rem + 6vw, 4rem);
    font-family: 'Oswald', sans-serif;
    color: #FFF;
    line-height: 1;
}

.four-column {
    margin-top: 5em;
}

.col__title {
    color: #A59678;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3125rem;
    margin-bottom: 1em;
}

.footer p {
    font-size: 1rem;
    margin-bottom: 1em;
}

.footer p:hover {
    cursor: pointer;
    opacity: .65;
}

@media (min-width: 700px) {
    .sidebar {
        display: flex;
    }

    .sidebar__text + .sidebar__text {
        margin-left: 1.3em;
    }
}

@media (min-width: 1000px) {
    .nav-toggle {
        display: none;
    }

    .nav {
        visibility: visible;
        display: flex;
        height: auto;
        justify-content: flex-end;
        position: relative;
    }

    .nav__list {
        display: flex;
        margin: 0;
        align-items: center;
    }

    .nav__list--primary {
        margin: 0;
    }

    .nav__item {
        margin: 0;
    }

    .nav__link {
        margin: 0 0 0 1.5em;
    }

    .row {
        display: flex;
        justify-content: space-between;
    }

    .hero__title {
        width: 42%;
    }

    .hero__text {
        width: 50%;
        align-self: flex-end;
    }

    .col + .col {
        margin-left: 3em;
    }

    .col {
        width: 25%;
    }

    .primary-content {
        width: 62%;
    }

    .sidebar {
        width: 32%;
        margin-top: 0;
        flex-direction: column;
    }

    .sidebar__text + .sidebar__text {
        margin-left: 0;
    }

    .footer__col:first-child {
        width: 36%;
    }

    .footer__col {
        width: 15%;
    }
}